.home_title {
  font-size: 40px;
  font-weight: 300;
  color: #2C7370;
}

.home_tagline {
  font-size: 20px;
  font-weight: 200;
  color: #2C7370;
}

.callButton {
  font-weight: 300;
  background-color: #2C7370;
  border-radius: 5px;
  width: 14rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.callButtonLink {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.page_header {
  font-size: 48px;
  font-weight: 400;
}


.layer0 {
  z-index: 0;
}

.layer1 {
  z-index: 1;
}

.layer2 {
  z-index: 2;
}