h3 {
  font-size: 40px;
  color: #2C7370;
}

h4 {
  font-size: 20px;
  color: #2C7370;
}

.callButton {
  background-color: #2C7370;
  border-radius: 5px;
  width: 14rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.callButtonLink {
  font-size: 20px;
  text-decoration: none;
  color: white;
}


.layer0 {
  z-index: 0;
}

.layer1 {
  z-index: 1;
}

.layer2 {
  z-index: 2;
}