* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 20px;
}

.navLink {
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
}

.bottomPad {
  margin-bottom: 1rem;
}

.bottomPadSmall {
  margin-bottom: 0.5rem;
}