.services_tagline {
  font-size: 20px;
}

.services_section_header {
  font-size: 24px;
  font-weight: 400;
  color: #2C7370;
  text-align: center;
  padding-bottom: 1rem;
  width: 12rem;
}

.service_picture {
  width: 15rem;
  height: 10rem;
  padding-bottom: 2rem;
}

.service_line {
  background-color: #8CC8CC;
  width: 15rem;
  height: 2px;
  margin-bottom: 1rem;
}

.service_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid #8CC8CC;
  border-radius: 15px;
  width: 30%;
  min-width: 20rem;
  padding: 2rem 0rem;
  margin-bottom: 2rem;
}

.service_holder {
  justify-content: space-between;  
}


@media (max-width: 1180px) {
  .service_holder {
    justify-content: space-around;
  }
}