h5 {
  font-size: 48px;
  font-weight: 400;
}

h6 {
  font-size: 20px;
}

h7 {
  font-size: 24px;
  color: #2C7370;
  text-align: center;
}

ul {
  list-style-type:circle;
}

li {
  margin-bottom: .2rem;
  font-weight: 200;
}

.service_picture {
  width: 15rem;
  height: 10rem;
  padding-bottom: 2rem;
}

.service_line {
  background-color: #8CC8CC;
  width: 15rem;
  height: 2px;
  margin-bottom: 1rem;
}

.service_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid #8CC8CC;
  border-radius: 15px;
  width: 23rem;
  padding: 2rem 0rem 2rem 0rem;
}